* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    cursor: default;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: 'Roboto', HelveticaCyr, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    color: #fde9c9;
    font-size: 16px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2994b2+22,2d4059+100 */
    background: #2D4059;


}

ul {
    margin: 0;
    padding: 0;
}

.incorrect {
    border: 1px solid #EA5455!important;
}

a {
    text-decoration: none;
    text-align: center;
    color: #fde9c9;
    cursor: pointer;
}

a * {
    cursor: pointer;
}

h1 {
    font-size: 22px;
    margin: 10px auto;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
}

button {
    display: block;
    margin: 5px auto;
    padding: 5px;
    cursor: pointer;
    box-shadow: inset 0 1px 3px 0 rgba(255,255,255,.5),inset 0 -1px 0 0 rgba(0,0,0,.3),0 1px 0 0 rgba(0,0,0,.2);
    border: none;
    outline: none;
    border-radius: 2px;
    color: #ffffff;
    background: rgb(41,148,178); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(41,148,178,1) 0%, rgba(45,64,89,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(41,148,178,1) 0%,rgba(45,64,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(41,148,178,1) 0%,rgba(45,64,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2994b2', endColorstr='#2d4059',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button:hover {
    box-shadow: inset 1px 1px 3px 0 rgba(255,255,255,.3),inset 1px -1px 1px 0 rgba(0,0,0,.2),1px 2px 1px 0 rgba(0,0,0,.3);
    background: #FFD550;
    color: #000000;
}

input[type=text], input[type=password], textarea {
    cursor: text!important;
}

#message_block {
    position: fixed;
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.message_box {
    margin: 1px;
    text-align: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 1);
    color: #000000;
}

/*======================= http://colorhunt.co/c/7403 ==================================*/
/*=================================    TOP NAV  =======================================*/

.top_nav {
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fde9c9;
    background: #2d4059;
}

.top_nav ul {
    position: relative;
    overflow: hidden;
    display: flex;
}

.top_nav li {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    display: block;
    cursor: pointer;
    color: #ffffff;
    background: rgb(41, 148, 178);
}

.top_nav li:hover {
    background: #FFD550;
    color: #000000;
}

.top_nav li a {
    display: block;
    color: #000000;
    padding: 10px;
}





/*=================================     AUTHORIZATION PAGE  =======================================*/

.auth .form_area {
    position: absolute;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth fieldset {
    padding: 25px;
    height: 100%;
    border: none;
    border-top: 1px solid #2994B2;
}

.auth input {
    display: block;
    width: 150px;
    height: 24px;
    padding: 2px 7px;
}

.auth input, .auth button {
    margin: 0 auto 20px auto;
    outline: none;
    border: none;
    width: 200px;
}

.auth .tab_cont {
    display: none;
}

.auth .visible {
    display: block;
}

.auth .list li {
    display: inline-block;
    width: 48%;
    font-size: 18px;
    cursor: pointer;
    color: #959595;
    padding: 8px;
    text-align: center;
}

.auth .list li:hover {
    color: #fde9c9;
}

.auth .list .active_li {
    color: #fde9c9;
}




/*=================================     ROOM PAGE  =======================================*/

.room .content_block {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
}

.room .info_battles {
    margin: 0 auto;
    padding: 10px 0;
}

.room .incorrect {
    border: 1px solid #EA5455;
}

.room .left_col {
    padding: 0 15px;
    max-width: 350px;
    min-width: 250px;
    flex: 1;
 }

.room .right_col {
    padding: 0 25px;
    min-width: 600px;
    flex: 3;
    overflow: hidden;
}

.room .list li {
    display: inline-block;
    width: 48%;
    font-size: 18px;
    cursor: pointer;
    color: #959595;
    padding: 8px;
    text-align: center;
}

.room .list li:hover {
    color: #fde9c9;
}

.room .list .active_li {
    color: #fde9c9;
}

.room .tab_block {
    margin: 60px auto;
}

.room .tab_cont {
    display: none;
}

.room .tab_block fieldset {
    border: none;
    text-align: center;
    border-top: 1px solid #2994B2;
    height: 170px;
}

.room .tab_block label {
    display: block;
    margin: 9px auto;
}

.room #create_form label {
    color: #959595;
    font-size: 13px;
    padding-bottom: 5px;
}

.room .tab_block input {
    width: 80%;
    text-align: center;
    margin-bottom: 15px;
    border: none;
    padding: 5px;
}

.room #join_number {
    margin: 30px auto 20px auto;
}

.room .visible {
    display: block;
}

.room .tab_block button {
    width: 150px;
}

.room .status {
    font-size: 24px;
    margin: 15px auto 40px auto;
    text-align: center;
}

.room .status span {
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 auto;
}

.deck_unready {
    background: #EA5455;
}

.deck_ready {
    background: green;
}

.room .deck_status a {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    color: #ffffff;
    background: rgb(41,148,178); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(41,148,178,1) 0%, rgba(45,64,89,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(41,148,178,1) 0%,rgba(45,64,89,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(41,148,178,1) 0%,rgba(45,64,89,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2994b2', endColorstr='#2d4059',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: inset 0 1px 3px 0 rgba(255,255,255,.5),inset 0 -1px 0 0 rgba(0,0,0,.3),0 1px 0 0 rgba(0,0,0,.2);
    border: none;
    outline: none;
    border-radius: 2px;
}

.room .deck_status a:hover {
    box-shadow: inset 1px 1px 3px 0 rgba(255,255,255,.3),inset 1px -1px 1px 0 rgba(0,0,0,.2),1px 2px 1px 0 rgba(0,0,0,.3);
    color: #000000;
    background: #FFD550;
}

.room .info_battles h2 {
    text-align: center;
}

.room .info_battles table {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.room .info_battles table td {
    width: 40%;
    margin: 0 auto;
}

.room .info_battles table td:first-child,
.room .info_battles table td:last-child{
    width: 10%;
}

.room .info_battles table tr {
    height: 40px;
}

.room .info_battles table tr:first-child {
    font-weight: bold;
    border-bottom: 2px solid #2994B2;
}

.room .info_battles table tr:nth-child(3) {
    background: #222222;
}

.room .info_battles button {
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: none;
}

.room .del_battle {
    background: url('../imgs/others/delete.png') center center no-repeat;
    background-size: contain;
}

.room .del_battle:hover {
    background: url('../imgs/others/delete_hover.png') center center no-repeat;
    background-size: contain;
}

.room .go_battle {
    background: url('../imgs/others/enter.png') center center no-repeat;
    background-size: contain;
}

.room .go_battle:hover {
    background: url('../imgs/others/enter_hover.png') center center no-repeat;
    background-size: contain;
}

.room .statistic {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.room .username {
    font-size: 30px;
    color: #FFD550;
    width: 100%;
    margin-bottom: 30px;

}

.room .capt_user {
    display: block;
    position: relative;
    width: 300px;
}

.room .pict {
    display: block;
    width: 300px;
    margin: 0 auto;
    height: 300px;
}

.room #take_pict {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.room #upload {
    width: 100%;
    height: 300px;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.room .upload_pict {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 60px);
    display: none;
    padding: 5px 15px;
}

.room .player_level {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #FFD550;
    background: #000000;
    padding: 5px 10px;
    transform: translate(20%, -10%);
}

.room .level_next {
    width: 100%;
    margin: 0;
    height: 10px;
    background: #2994B2;
    cursor: pointer;
}

.room .scale {
    height: 10px;
    background: #FFD550;
}

.room .games_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.room .all_games, .room .win_games {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    margin: 15px 25px;
    cursor: pointer;
}

.room .win_games {
    border: 2px solid #FFD550;
    color: #FFD550;
}

.room .all_games {
    border: 2px solid #2994B2;
    color: #2994B2;
}

.room .percent_win {
    width: 120px;
    height: 120px;
    border: 3px solid #2994B2;
    line-height: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    color: #FFD550;
}

/*=================================   CARD PAGE  =======================================*/

.card .tab_block {
    display: block;
    width: 90%;
    max-width: 1300px;
    margin: 10px auto;
    padding: 20px;
}

.card .list {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 30px;
    z-index: 3;
    border-bottom: 1px solid #2994B2;
}

.card .list li {
    position: relative;
    display: inline-block;
    width: 16.66666666%;
    float: left;
    cursor: pointer;
    padding: 2px 10px;
    text-align: center;
    box-sizing: border-box;
    color: #959595;
}

.card .list li:hover {
    color: #fde9c9;
}

.card .list .active_li{
    color: #fde9c9;
}

.card .tab_cont {
    display: none;
    position: relative;
    overflow: hidden;
}

.card .not_visible {
    display: none;
}

.card .visible {
    display: block;
}

.card .fraction_preview, .card .class_preview, .card .ability_preview,
.card .unit_preview, .card .special_preview, .card .leader_preview {
    box-sizing: border-box;
    width: 66.6666666666%;
    float: left;
}

.card h3 {
    text-align: center;
    color: #fde9c9;
}

.card form {
    box-sizing: border-box;
    width: 25%;
    float: left;
    color: #959595;
}

.card .fraction_block, .card .class_block,
.card .ability_block, .card .unit_block,
.card .leader_block, .card .special_block{
    padding: 0 10px 35px 10px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.card label, .card input, .card textarea, .card select {
    display: block;
    margin-bottom: 15px;
    outline: none;
    width: 100%;
}

.card input[type=checkbox] {
    width: auto;
}

.card label {
    margin-bottom: 5px;
}

.card input, .card textarea, .card select {
    background: #2994B3;
    border: none;
}

.card input, .card textarea, .card select {
    padding: 5px 10px;
    box-shadow: inset 1px 1px 4px 0 rgb(39, 39, 39);
}

.card input[type=number], .card select {
    padding: 0 10px;
    outline: none;
}

.card input[type=file] {
    padding: 0;
    color: #fde9c9;
}

.card input[type=checkbox] {
    box-shadow: none;
    cursor: pointer;
}

.card input, .card select {
    height: 21px;
}

.card textarea {
    height: 100px;
}

.card .tab_cont button {
    width: 50%;
}

.card .preview {
    padding: 0 10px 0 30px;
    box-sizing: border-box;
    float: left;
    width: 75%;
}

.card .to_cards {
    cursor: pointer;
}

.card .tab_cont ul {
    float: left;
    width: 40%;
    border-left: 1px solid #2994B3;
    padding-left: 10px;
}

.card .tab_cont li {
    display: block;
    color: #959595;
    padding: 5px;
}

.card .tab_cont li:hover {
    display: block;
    color: #fde9c9;
    cursor: pointer;
}

.card .desc_block {
    opacity: 0;
    float: left;
    width: 60%;
    padding-left: 10px;
    font-size: 18px;
    color: #FFD550;
    position: relative;
    overflow: hidden;
}

.card .desc_data {
    float: left;
    width: 60%;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.card .desc_data div {
    margin: 0 0 20px 0;
}

.card .desc_visible {
    opacity: 1!important;
}

.card .marked {
    color: #fde9c9!important;
}

.card .desc_name {
    text-align: center;
    margin-top: 0;
}

#units_desc_block {
    margin-top: -50px;
}

.card .desc_block span {
    color: #959595;
}

.card .desc_pict {
    float: left;
    width: 40%;
    position: relative;
    overflow: hidden;
}

.card .desc_block .desc_description {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card .desc_block .desc_description span {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #FFD550;
}

.card #fractions_desc_text span {
    text-align: justify;
}

.card #abilities_list li:first-child {
    display: none;
}

.card #abilities_desc_block .desc_func, .card #fractions_desc_block .desc_func {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.card #abilities_desc_pict {
    display: block;
    float: none;
    width: 50px;
    margin: 0 auto;
}

.card #classes_desc_pict {
    display: block;
    float: none;
    width: 60px;
    margin: 0 auto 20px auto;
}

.card .pict_block {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.card .pict_block img {
    width: 75px;
}

.card .edit, .card .delete {
    display: inline-block;
}

.card .delete {
    width: 40px!important;
}

.card .control_block {
    text-align: center;
}

/*=================================   DECKS_ROOM PAGE  =======================================*/

.deck_room .decks_block {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
    overflow: hidden;
}

.deck_room .fraction_choice {
    text-align: center;
    background-size: contain;
}

.deck_room .fraction_choice label,
.deck_room .fraction_choice select {
    display: block;
    margin: 0 auto;
    height: 25px;
    outline: none;
}

.deck_room .fraction_choice label {
    font-size: 20px;
}

.deck_room .fraction_choice select {
    background: #000000;
    font-size: 16px;
    color: #fde9c9;
    border: none;
    margin: 10px auto 15px auto;
}

.deck_room .fraction_choice select option {
    text-align: center;
}


.deck_room .desc_fraction {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    color: #FFD550;
}

.deck_room .deck_col {
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.deck_room .available_card, .deck_room .selected_card {
    width: 40%;
}

.deck_room .info_deck {
    width: 20%;
}

.deck_room .deck_col h3 {
    font-weight: 500;
}

.deck_room .info div:nth-child(even) {
    margin-bottom: 15px;
}

.deck_room .leader_block {
    width: 150px;
    height: 283px;
    background: #272727;
    margin: 20px auto;
    border-radius: 10px;
}

.deck_room ul {
    display: flex;
    margin-bottom: 15px;
}

.deck_room .filter_li {
    flex: 1;
    list-style: none;
    height: 30px;
    cursor: pointer;
    opacity: 0.3;
}

.deck_room .filter_li:hover, .deck_room .selected {
    opacity: 1;
}

.deck_room .filter_li[data-filter='1'] {
    background: url('../imgs/others/all.png') center center no-repeat;
    background-size: contain;
}

.deck_room .filter_li[data-filter='2'] {
    background: url('../imgs/others/sword.png') center center no-repeat;
    background-size: contain;
}
.deck_room .filter_li[data-filter='3'] {
    background: url('../imgs/others/bow.png') center center no-repeat;
    background-size: contain;
}
.deck_room .filter_li[data-filter='4'] {
    background: url('../imgs/others/catapult.png') center center no-repeat;
    background-size: contain;
}
.deck_room .filter_li[data-filter='5'] {
    background: url('../imgs/others/wheather.png') center center no-repeat;
    background-size: contain;
}
.deck_room .filter_li[data-filter='6'] {
    background: url('../imgs/others/hero.png') center center no-repeat;
    background-size: contain;
}
.deck_room .filter_li[data-filter='7'] {
    background: url('../imgs/others/neutral.png') center center no-repeat;
    background-size: contain;
}

.deck_room .all_cards, .deck_room .deck {
    position: relative;
    overflow: hidden;
}

.deck_room .deck_col .card {
    display: block;
    position: relative;
    width: 33.33333333333333%;
    float: left;
    padding: 5px;
    border-radius: 5px;
}

.deck_room .card_view .card {
    display: block;
    position: relative;
    width: 25%;
    max-width: 250px;
    margin: 50px auto;
    padding: 5px;
    border-radius: 5px;
}

.deck_room .card:hover .img_card {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
}

.deck_room .img_card {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.deck_room .strength_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.deck_room .strength_card.up {
     background: #2994B3;
 }

.deck_room .strength_card.down {
    background: #ff3e3f;
}

.deck_room .class_card {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.deck_room .ability_card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.deck_room .card_view .strength_card,
.deck_room .card_view .class_card,
.deck_room .card_view .ability_card {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    cursor: inherit;
}

.deck_room .leader_img {
    width: 100%;
    cursor: pointer;
}

.deck_room .info_deck button {
    width: 50%!important;
    margin: 25px auto;
}

.deck_room .not_visible {
    display: none;
}

.deck_room .item_leader:hover img {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
    cursor: pointer;
}

.deck_room .leader_choice,
.deck_room .card_view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 500px;
    background: #000000;
}

.deck_room .leaders_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
}

.deck_room .item_leader {
    width: 25%;
    padding: 50px 25px;
    min-width: 200px;
}

.deck_room .item_leader img {
    width: 100%;
}

.deck_room .leader_choice p,
.deck_room .desc_unit {
    text-align: center;
    color:  #2994B3;
    margin: 30px auto;
    font-size: 22px;
    width: 100%;
    min-width: 500px;
    max-width: 1000px;
    background: #000000;
    padding: 10px;
}

.deck_room .desc_unit {
    width: 50%;
}

.deck_room .close_unit {
    margin: 40px auto;
    width: 200px;
}


/*=================================   BATTLE_ROOM PAGE  =======================================*/

.html {
    height: 100%;
}

.battle {
    height: 100%;
    min-height: 750px;
    background: url('../imgs/others/bg.png') center center repeat;
    background-size: 100%;
    position: relative;
}

.battle .table {
    display: flex;
    height: 100%;
}

.battle .players {
    display: flex;
    flex: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    min-width: 275px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.battle .leader_pic {
    display: block;
    height: 150px;
    width: 80px;
    border-radius: 3px;
    cursor: pointer;
}

.battle .leader_pic:hover {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
}

.battle .player_data {
    height: 300px;
}

.battle .out {
    opacity: 0.6;
}

.battle .player_info {
    display: flex;
    height: 150px;
    background: #feca88;
    align-items: center;
}

.battle .user_info {
    flex: 2;
    background: #3a8bbd;
    position: relative;
}

.battle .user_pic {
    display: block;
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    background: #fde9c9;
}

.battle .fraction_pic {
    display: block;
    position: absolute;
    top: 65%;
    left: 5%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #000000;
}

.battle .timer, .battle .timer2 {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #000000;
    color: #ff0000;
    font-size: 50px;
    line-height: 90px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.battle .battle_detail {
    flex: 3;
    height: 100%;
    background: #2D4059;
}

.battle .player_status {
    display: flex;
    position: relative;
    height: 50%;
    background: #89ba6f;
    align-items: center;
}

.battle .player_cards {
    flex: 1;
    height: 35px;
    background: url('../imgs/others/all.png') left center no-repeat;
    background-size: contain;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding-left: 30px;
}

.battle .player_health {
    flex: 3;
    text-align: center;
}

.battle .health_pic {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.battle .player_power {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 0;
    transform: translate(50%, 15%);
    border-radius: 50%;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    font-weight: 900;
    color: #000000;
    text-shadow: 2px 2px 2px  #fde9c9,
    -2px -2px 2px  #fde9c9,
    2px -2px 2px  #fde9c9,
    -2px 2px 2px  #fde9c9;
}

.battle .rival .player_power {
    background: #96BBCB;
    box-shadow: 0 0 2px 2px #96BBCB;
}

.battle .home .player_power {
    background: #2D4059;
    box-shadow: 0 0 2px 2px #2D4059;
}

.battle .player_name {
    width: 100%;
    height: 50%;
}

.battle .user_name {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    height: 50%;
    line-height: 20px;
}

.battle .weather_area {
    height: 150px;
    background: #7d7d7d;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.battle .weather_card {
    flex: 1;
    max-width: 100px;
    position: relative;
    z-index: 2;
    padding: 10px 0;
    transform: translateX(-15px);
}

.battle .weather_card img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 150px;
}

.battle .battle_area {
    display: flex;
    flex: 4;
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
}

.battle .main_block {
    flex: 6;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.battle .battle_field {
    display: flex;
    flex-direction: column-reverse;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    padding-bottom: 15px;
}

.battle .battle_field .not_ready {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
    background: rgba(0, 0, 0, 0.85);
}

.battle .row_enemy, .battle .row_home {
    height: 50%;
    position: relative;
}

.battle .row_home {
    display: flex;
    flex-direction: column-reverse;
}

.battle .battle_row {
    height: 33.333333333333333%;
    padding: 10px 0 0 70px;
    position: relative;
}

.battle .str_count {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    transform: translate(80%, 5%);
    border: 2px solid #D7E4EC;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    text-shadow: 1px 1px 1px  #fde9c9,
    -1px -1px 1px  #fde9c9,
    1px -1px 1px  #fde9c9,
    -1px 1px 1px  #fde9c9;
    border-radius: 50%;
    line-height: 47px;
    text-align: center;
    z-index: 10;
}

.battle .enemy .str_count {
    background: #96BBCB;
}

.battle .home .str_count {
    background: #2D4059;
}

.cards_row {
    background: #008800;
    height: 100%;
}

.battle .cards_field {
    height: 100%;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.battle .cards_field .img_card {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 150px;
}

.battle .strength_card {
    display: block;
    position: absolute;
    top: 0;
    height: 25px;
    width: 25px;
    background: #fde9c9;
    color: #000000;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: 900;
}

.battle .class_card {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.battle .ability_card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.battle .block_review .ability_card,
.battle .choice .ability_card,
.battle .block_review .strength_card,
.battle .choice .strength_card,
.battle .block_review .class_card,
.battle .choice .class_card {
    height: 35px;
    width: 35px;
    line-height: 35px;
}

.battle .cards_field div:hover .img_card {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
    cursor: pointer;
}

.battle .cards {
    display: flex;
    justify-content: center;
    height: 20%;
    padding: 10px 25px;
    background: #D5EEFF;
}

.battle .decks_fields {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    height: 100%;
    z-index: 1;
}

.battle .decks_user {
    height: 40%;
    background: #ffaf11;
}

.battle .control_button {
    height: 20%;
    background: #89ba6f;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.battle .pass {
    display: none;
    margin: 20px auto;
    padding: 5px 40px;
}

.battle .status_move {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.battle .retreat,
.battle .all_cards {
    height: 50%;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
    background: #fc8c84;
    position: relative;
}

.battle .retreat img,
.battle .all_cards img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 90%;
    width: auto;
    transform: translateX(-50%);
    min-height: 140px;
}

.battle .deck_count {
    position: absolute;
    bottom:  10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.7);
}

.battle .deck_cover {
    display: block;
    width: 100%;
}

.battle .cards>div,
.battle .cards_field>div{
    flex: 1;
    max-width: 80px;
    position: relative;
    z-index: 2;
}

.battle .cards div:hover,
.battle .cards_field div:hover {
    z-index: 4;
    cursor: pointer;
}

.battle .cards .img_card {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 150px;
}

.battle .cards .move {
    transition: all 0.5s;
    transform: translate(-15px, -15%);
    z-index: 4;
}

.battle .cards div:hover .img_card {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
    cursor: pointer;
}

.battle .card_review {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.95);
    padding-bottom: 30px;
}

.battle .block_review {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 10%;
}

.battle .block_review .card_on_table {
    position: relative;
    min-width: 100px;
    width: 170px;
    max-width: 14%;
    margin: 35px 3%;
}

.battle .card_review .img_card {
    display: block;
    width: 100%;
}

.battle .card_review .img_card:hover {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
    cursor: pointer;
}

.battle .card_review h2 {
    font-weight: 400;
    margin-top: 30px;
    font-size: 28px;
}

.battle .card_review .skip {
    padding: 5px 20px;
    transform: translateX(-25px);
}

.battle .round {
    position: absolute;
    display: flex;
    align-items: center;
    width: 400px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2994B3;
    z-index: 7;
}

.battle .round span {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    width: 100%;
    color: #000000;
}


.battle .results_game {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #000000;
    width: 100%;
    height: 100%;
}

.battle .results_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
}

.battle .results_body h2 {
    margin-bottom: 50px;
    font-size: 50px;
}

.battle .results_body table {
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
}

.battle .results_body table td {
    width: 33.33333333%;
    text-align: center;
    padding: 5px;    
}

.battle .results_body table .table_head td {
    border-bottom: 2px solid  #2994B3;
}

.action_after {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.battle .results_body .to_home,
.battle .results_body .thanks {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
}

.battle .results_body .to_home {
    color: #000000;
}

.battle .results_body .win {
    color: #FFD550;
}

.battle .results_body .loose {
    color: #ff0000;
}

.battle .exp_block {
    text-align: center;
    font-size: 40px;
    color: #FFD550;
    margin-bottom: 50px;
}

.battle .rating_block {
    text-align: center;
    font-size: 40px;
    color: #2994B3;
    margin-bottom: 50px;
}

.battle .fold {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 35px;
    padding-left: 70px;
    background: #fde9c9;
    z-index: 7;
    opacity: 0.3;
    text-align: center;
}

.battle .fold span {
    width: 100%;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    color: #b5b5b5;
}

.battle .choice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.95);
    padding: 50px 30px;
}

.battle .choice .card_on_table {
    position: relative;
    min-width: 100px;
    width: 14%;
    max-width: 200px;
    margin: 35px 3%;
}

.battle .choice .img_card {
    display: block;
    width: 100%;
}

.battle .choice .img_card:hover {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
    cursor: pointer;
}

.battle .choice .strength_card {
    display: block;
    position: absolute;
    top: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fde9c9;
    padding: 0;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    font-weight: 900;
}

.battle .strength_card.up {
    background: #2994B3;
}

.battle .strength_card.down {
    background: #ff3e3f;
}

/*=================================   MAIN PAGE  =======================================*/


.main .list_caption {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.main .option_lev {
    width: 50%;
    display: flex;
    margin: 0 auto 30px auto;
}

.main .filter {
    display: flex;
    justify-content: center;
    flex: 1;
    cursor: pointer;
}

.main .filter input, .main .filter label {
    margin: auto 5px;
    cursor: pointer;
}

.main .filter input {
    width: 5%;
    opacity: 0;
}

.main .filter label {
    width: 80px;
    height: 40px;
}

.main .filter input:checked + label {
    color: #FFD550;
}

.main .filter #with + label {
    background: url('../imgs/others/gamers.png') left center no-repeat;
    background-size: contain;
}

.main .filter #only + label {
    background: url('../imgs/others/gamer_less.png') left center no-repeat;
    background-size: contain;
}

.main .filter #without + label {
    background: url('../imgs/others/gamer_more.png') left center no-repeat;
    background-size: contain;
}

.main .filter #with:checked + label, .main .filter:hover #with + label {
    background: url('../imgs/others/gamers_h.png') left center no-repeat;
    background-size: contain;
}

.main .filter #only:checked + label, .main .filter:hover #only + label {
    background: url('../imgs/others/gamer_less_h.png') left center no-repeat;
    background-size: contain;
}

.main .filter #without:checked + label, .main .filter:hover #without + label {
    background: url('../imgs/others/gamer_more_h.png') left center no-repeat;
    background-size: contain;
}

.main .message {
    text-align: center;
}

.main .gamers {
    margin: 0 auto;
    width: 50%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    border-spacing: 0;
}

.main .gamers tr {
    height: 40px;
}

.main .gamers thead tr {
    color: #FFD550;
    font-size: 18px;
    border-bottom: 2px solid #FFD550;
}

.main .gamers tr:nth-child(even) td {
    background: #3b4e69;
    color: #ffffff;
}

.main .gamers .join_to_battle {
    width: 40px;
    height: 40px;
    box-shadow: none;
    background: url('../imgs/others/enter.png') center center no-repeat;
}

.main .gamers .join_to_battle:hover {
    background: url('../imgs/others/enter_hover.png') center center no-repeat;
}


.main .gamers .no_deck {
    width: 40px;
    height: 40px;
    box-shadow: none;
    background: url('../imgs/others/delete.png') center center no-repeat;
}

.main .gamers .no_deck:hover {
    background: url('../imgs/others/delete_hover.png') center center no-repeat;
}


/*==============================   WORKROOM PAGE  ====================================*/


.work .tab_cont {
    display: none;
}

.work .visible {
    display: block;
}

.work .tab_block {
    display: block;
    position: relative;
    width: 90%;
    max-width: 1300px;
    margin: 10px auto;
}

.work .list {
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    margin-bottom: 30px;
    z-index: 3;
    border-bottom: 1px solid #2994B2;
}

.work .list li {
    position: relative;
    display: inline-block;
    width: 25%;
    float: left;
    cursor: pointer;
    padding: 2px 10px;
    text-align: center;
    box-sizing: border-box;
    color: #959595;
}

.work .list li:hover {
    color: #FFD548;
}

.work .list .active_li{
    color: #FFD548;
}

.work .points_block {
    width: 300px;
    margin: 0 auto;
}

.work .points_row {
    display: flex;
    justify-content: space-between;
}

.work .points_row div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
}

.work .points_row .rait_p {
    background: #2994B2;
}

.work .points_row .g_rait_p {
    background: #FFD550;
}

.work .actions_row, .work .slider_actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
}

.work .not_visible {
    display: none;
}

.work .visible {
    display: block;
}

.work .actions_row button {
    width: 100px;
    margin: 0 10px;
    height: 27px;
}

.work select {
    display: block;
    width: 250px;
    height: 25px;
    outline: none;
    background: #FFD550;
    font-size: 16px;
    color: #000000;
    border: none;
    margin: 10px auto 15px auto;
}

.work #select_fraction option,
.work #select_fraction2 option {
    text-align: center;
}

.work .strength_block label,
.work .unlock_block label{
    display: block;
    margin: 0 auto;
    width: 250px;
    text-align: center;
}

.work .slider_units {
    position: relative;
    overflow: hidden;
}

.work .cards_area {
    width: 90%;
    margin: 15px auto;
    height: 270px;
    box-shadow: 0 1px 2px 1px #000000;
    background: #2D4059;
    overflow: hidden;
}

.work .slides_block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    transition: all 0.5s;
}

.work .card {
    cursor: pointer;
}

.work .cards_area .card {
    width: 120px;
    position: relative;
    margin: 20px;
    border-radius: 7px;
}

.work .card_view .card {
    width: 100%;
    max-width: 250px;
}

.work .strength_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.work .strength_card.up {
    background: #2994B3;
}

.work .strength_card.down {
    background: #ff3e3f;
}


.work .class_card {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.work .ability_card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.work .cards_area .img_card,
.work .card_view .img_card {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.work .gold {
    box-shadow: 0 0 7px 3px #FFD550!important;
    background: #FFD550!important;
}

.work .filter.active {
    color: #FFD550;
}

.work .cards_area .card:hover {
    box-shadow: 0 0 7px 3px #2994B3;
    background: #2994B3;
}

.work .slider_actions button {
    width: 100px;
    margin: 0 30px;
    height: 25px;
}

.work .units_up {
     background: url('../imgs/others/arrow_up.png') center center no-repeat, #2994B3;
     background-size: contain;
 }

.work .units_down {
    background: url('../imgs/others/arrow_down.png') center center no-repeat, #2994B3;
    background-size: contain;
}

.work .units_up:hover {
    background: url('../imgs/others/arrow_up.png') center center no-repeat, #FFD550;
    background-size: contain;
}

.work .units_down:hover {
    background: url('../imgs/others/arrow_down.png') center center no-repeat, #FFD550;
    background-size: contain;
}

.work .descr_card {
    width: 300px;
    margin: 50px auto 0 auto;
}

.work .descr_card .caption {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.work .strength_actions {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 0 auto;
}

.work .strength_up,
.work .strength_down {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 0px;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    margin: auto;
}

.work .strength_down {
    font-size: 36px;
}

.work .strength {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    color: #FFD550;
    background: #000000;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    margin: auto;
}

.work #unlock_form {
    display: flex;
}

.work #unlock_form .filter_card {
    width: 20%;
}

.work #unlock_form .slider_units {
    width: 80%;
}

.work #unlock_form .cards_area {
    width: 90%;
}

.work .filter_card ul {
    padding-left: 20px;
    color: #959595;
    margin-top: 45px;
}

.work .filter_card ul li {
    padding: 20px 0;
    font-size: 18px;
}

.work .filter_card ul li:hover {
    cursor: pointer;
    color: #FFD548;
}

.work .tab_block .card_view {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1000px;
    height: 100%;
    min-height: 500px;
    max-height: 700px;
    background: #000000;
    padding: 20px 100px;
    border: 2px solid #2994B3;
}

.work .tab_block .card_view.not_visible {
    display: none;
}

.work .card_view .card_name {
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
    color: #FFD548;
    width: 100%;
}

.work .card_view .detail_card {
    box-sizing: border-box;
    width: 70%;
    padding-right: 40px;
    margin: auto;
}

.work .card_view .pict_card {
    width: 30%;
    margin: auto;
    position: relative;
}

.work .card_view .open_card button {
    margin: 10px 30px 0 30px;
}

.work .card_view .detail_card>div {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
}

.work .card_view .detail_card .prop {
    color:  #2994B3;
    font-size: 24px;
    margin: 5px 0;
}

.work .card_view .detail_card .val {
    font-size: 22px;
}

.work .card_view .ability_name_row .val {
    color: #FFD548;
}

.work .card_view .descr_row .val {
    padding-top: 70px;
    font-size: 16px;
}

.work .card_view .close_card {
    width: 100%;
    text-align: center;
}

.work .card_view .close_it {
    width: 150px;
}

.work .card_view .strength_card,
.work .card_view .class_card,
.work .card_view .ability_card {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    cursor: inherit;
}

.work .constructor_block {
    display: flex;
    justify-content: space-around;
}

.work .blank_card {
    width: 300px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.work .blank_card .row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    padding: 5px 0;
}

.work .blank_card .unlock {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #2994B3;
    color: #000000;
    text-align: center;
    font-weight: 900;
    display: flex;
}

.work .blank_card .unlock span {
    display: block;
    margin: auto;
    padding-left: 25px;
    background: url('../imgs/others/unlock.png') left center no-repeat;
    background-size: contain;
    cursor: pointer;
}

.work .blank_card .unlock:hover {
    background: #ffd550;
    cursor: pointer;
}

.work .blank_card input,
.work .blank_card select {
    width: 100%;
    height: 25px;
    margin: auto;
}

.work .blank_card input {
    padding: 5px;
}

.work .blank_card .class_row {
    width: 100%;
    text-align: center;
    color: #ffd550;
}

.work .blank_card .class_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background: #FFD550;
    box-shadow: inset 0 0 2px 1px #d9d9d9;
    cursor: pointer;
}

.work .blank_card .ability_descr {
    display: block;
    width: 100%;
    height: 60px;
    overflow: auto;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.work .blank_card .strength_actions,
.work .blank_card textarea {
    width: 100%;
    margin: auto;
}

.work .blank_card textarea {
    height: 100px;
    padding: 5px;
}

.work .blank_card .lock_card {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url('../imgs/others/lock_card.png') center center no-repeat, #2994B3;
}

.work .blank_card .fixed {
    margin-top: 20px;
}

.work .any_block {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.work .any_block .max_deck {
    padding: 15px 0;
    text-align: center;
}

.work .any_block .description {
    text-align: center;
    width: 70%;
    margin: 20px auto;
}

.work .any_block .block {
    width: 50%;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.work .any_block .reset_card {
    width: 100%;
}

.work .reset_card {
    border-top: 2px solid #2994B3;
    border-bottom: 2px solid #2994B3;
}

.work .buy_points,
.work .like_rival {
    border-right: 2px solid #2994B3;
}

.work .any_block .reset_card {
    display: flex;
}

.work .any_block .reset_actions {
    width: 50%;
    margin: auto;
}

.work .any_block .reset_actions label {
    display: block;
    width: 100%;
    text-align: center;
}

.work .any_block .reset_actions select {
    display: block;
    width: 70%;
    height: 25px;
    margin: 15px auto;
    text-align: center;
}

.work .any_block #buy_votes {
    margin-top: 20px;
}

.work .any_block .votes {
    color: #ffd550;
}

.work .any_block .reset_img {
    width: 150px;
    height: 290px;
    position: relative;
    margin: auto;
    cursor: pointer;
    border-radius: 7px;
    overflow: hidden;
}

.work .any_block .reset_img .img_card {
    width: 100%;
}

.work .reset_descr {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.work .any_block .reset_all {
    padding: 15px 0;
}

.work .any_block #max_up,
.work .any_block #reset_all,
.work .any_block #reset_card,
.work .any_block #get_likes,
.work .any_block #buy_votes {
    width: 150px;
    margin-top: 25px;
}

.work .any_block #reset_all {
    background: red;
}